node_modules/
dist/
.env
.vscode/
.DS_Store
coverage/
npm-debug.log
yarn-error.log
.idea/
*.log
*.tsbuildinfo
.cache/
.next/
out/
/build/
public/build/
.svelte-kit/
.vite/
*.local
*.env
*.env.local
*.env.development
*.env.production
*.env.test
*.swp

package-lock.json
yarn.lock