name: ShopDevCICD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show environment
        run: |
          whoami
          uname -a
          pwd
          podman --version
          podman-compose --version

      - name: Copy env file
        run: |
          cp /home/ShopDev/.env /home/ShopDev/ShopDev/.env
          ls -la /home/ShopDev/ShopDev

      - name: Build containers
        working-directory: /home/ShopDev/ShopDev
        run: podman-compose build

      - name: Deploy
        working-directory: /home/ShopDev/ShopDev
        run: |
          podman-compose down
          podman-compose up -d

      - name: check
        run: |
          podman ps

