name: ShopDevCICD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Show environment
        run: |
          whoami
          uname -a
          docker --version
          docker compose version

      - name: Update source
        working-directory: /home/ShopDev/ShopDev
        run: |
          git fetch origin
          git reset --hard origin/main

      - name: Prepare env
        run: |
          if [ ! -f /home/ShopDev/ShopDev/.env ]; then
            cp /home/ShopDev/.env /home/ShopDev/ShopDev/.env
          fi

      - name: Deploy with Docker Compose
        working-directory: /home/ShopDev/ShopDev
        run: |
          docker ps
          docker compose down
          docker ps
          docker compose up -d --build
